<h1>Ask a Question</h1>

<%= form_for :question, url: {controller: "questions", action: "create"} do |f| %>
  Title: <%= f.text_field :title, size: "60x1" %>
  <br>
  <br>
  Content: <%= f.text_area :body, size: "60x12" %>
  <br>
  <br>
  <%= f.submit "Ask Question" %>
<% end %>
