.users {
  height: 15em;
  width: 18em;
  display: inline-block;
  padding-left: 1em;
  background:rgba(255,255,255, 0.4);
  border: .5em solid;
  margin: 1em;
}

.user_questions_outer{
  z-index:0;
  background-color:white;
  opacity:.6;
}

.user_questions_inner {
  z-index:1;
  display:inline-block;
  opacity:1;
}

ul {
  list-style: none;
}