.users {
	display: inline-block;
}

.user_questions_outer{
  z-index:0;
  background-color:white;
  opacity:.6;
}

.user_questions_inner {
  z-index:1;
  display:inline-block;
  opacity:1;
}

ul {
  list-style: none;
}