<header>

<h4> Snack Overflow </h4>
  <%=
   link_to_if(session[:user_id].nil?, "Sign In", { controller: "sessions", action: "new" }) do

      link_to "Sign Out", signout_path, method: "delete" 
      # button_to("Log Out", session_path(session[:user_id], :method => :delete, :class=>:destroy,:confirm=>"Are you sure?"))
     # link_to("Log Out", { controller: "sessions", action: "destroy", id: session[:user_id], method: :delete })
   end
%>

<%=
   link_to_if(session[:user_id].nil?, "Sign Up", { controller: "users", action: "new" }) do

     link_to("My Account", { controller: "users", action: "show", id: session[:user_id] })
   end
%>
<%= link_to "Home", root_path %>
</header>
